[Unit]
Description=Script de monitoreo de vms, cada 5 miutos
After=network.target

[Service]
ExecStart=/etc/pxe_monitor/ping-instances.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target
