[Unit]
Description=Script de monitoreo de backups
After=network.target

[Service]
Type=oneshot
ExecStart=/etc/pxe_monitor/pxe_backup/bak_deal.sh
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
